@font-face {
    font-family: 'Truetypewriter PolyglOTT';
    src: url(../assets/fonts/TTWPGOTT.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adygh';
    src: url(../assets/fonts/Adygh.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}


