@import url('reset.css');
@import url('font.css');

body{
    font-family: 'Phorssa';
    background-color: #593537;
    border: #CDCDCF 10px solid;
}
main{
    border: 7px solid #CDCDCF;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.blockUpCorner{
    position: absolute;
    width: 100%;
    height: 100%;
}

.sections{
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.corner1{
    position: relative;
    width: 293px;
    height: 166px;
}

.corner2{
    position: relative;
    width: 293px;
    height: 166px;
    left: 100%;
}

.UpLeft{
    transform: rotate(135deg) translate(15%, 70%);
}

.DownLeft{

}

.UpRight{
    transform: rotate(-135deg) translate(100%, 10%);
}

.DownRight{

}

.cornerRoundBig1{
    position: absolute;
    width: 150px;
    height: 150px;
    border: 8px solid #CDCDCF;
    border-radius: 523px;
}

.cornerRoundBig2{
    position: absolute;
    width: 150px;
    height: 150px;
    border: 8px solid #CDCDCF;
    border-radius: 523px;
    left: 100%;
    transform: translateX(-100%);
}

.cornerRoundSmall{
    position: absolute;
    width: 90px;
    height: 90px;
    border: 8px solid #CDCDCF;
    border-radius: 523px;
    left: 50%;
    transform: translate(-50%, -100%);
    top: 100%;
}

.Screen1{
    width: 100%;
    height: 723px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Screen2{
    width: 95%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 29px 0px;
    overflow: hidden;
}

.Screen3{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 810px;
}

.Screen4{
    width: 100%;
    height: 719px;
}

.diskSVG{
    width: 553px;
    height: 321px;
}

.title{
    display: flex;
    width: 100%;
    height: 200px;
    background: #CDCDCF;
    font-family: 'Adygh';
    font-size: 150px;
    line-height: 201px;
    color: #8C2A2D;
    white-space: nowrap;
    letter-spacing: -0.04em;
    align-self: center;
    justify-content: center;
} 

.lettersInRounds{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    gap: 44px;
}

.letterinRound{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: 200px;
}

.stick{
    width: 5px;
    height: 107px;
    background-color: #7C6365;
    z-index: 1;
}
.round{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93px;
    height: 93px;
    background: #7C6365;
    border-radius: 721px;
    font-family: 'Truetypewriter PolyglOTT';
    font-size: 70px;
    line-height: 81px;
    letter-spacing: -0.03em;
    color: #CDCDCF;
    z-index: 2;
}

.bigScreen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background: #7C6365;
    border: 14px solid #CDCDCF;
    border-radius: 35px;
}

.left{
    display: flex;
    flex-direction: column;
    padding: 56px 59px;
    width: fit-content;
    height: fit-content;
}

.attention{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 14px;
}

.attentionIn{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 2px solid #000000;
    border-radius: 7px;
}

.blockAttention{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 18px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    background: #8C2A2D;
    border: 1px solid #000000;
    font-family: 'Truetypewriter PolyglOTT';
    font-size: 75px;
    line-height: 86px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border-radius: 7px;
}

.textsvgAttention{
    display: flex;
}

.svgAttention{
    display: flex;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 163px;
    height: 163px;
    border: 0.9373px solid #000000;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/warming.svg);
}

.textAttention{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    border: 1px solid #000000;
    font-family: 'Truetypewriter PolyglOTT';
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}

.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 38px 56px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.warming{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/warning.svg);
    display: flex;
    width: 188px;
    height: 294px;
    border-radius: 14px;
}

.right{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.signForYellow{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 44px 23px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.Empty181{
    display: flex;
    width: 272px;
    height: 200px;
}

.yellowsignvoltSvg{
    display: flex;
    width: 227px;
    height: 82px;
    border-radius: 14px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/yellow_sign_volt.svg);
}

.yellowsignvoltSvg2{
    display: flex;
    width: 236px;
    height: 82px;
    border-radius: 14px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/yellow_sign_temp.svg);
}

.righttemp{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.bottomLeft{
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.signForPower{
    display: flex;
    padding: 41px 38px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.Powersvg{
    width: 223px;
    height: 103px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/battery.svg);
}

.bottomRight{
    display: flex;
    flex-direction: column;
    padding: 86px 94px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.danger{
    display: flex;
    width: 293px;
    height: 198px;
    border-radius: 14px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/danger.svg);
}

.furstBLock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: fit-content;
}

.furstBlockSmall{
    display: flex;
    align-items: center;
    padding: 8px 0px;
    gap: 24px;
    width: fit-content;
    height: fit-content;
}

.lampSVG{
    width: 70px;
    height: 70px;
    border-radius: 76px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/lamp.svg);
}

.status{
    display: flex;
    flex-direction: column;
    padding: 11px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    border: 3px solid #7C6365;
    border-radius: 13px;
    align-items: center;
}

.statusText{
    width: fit-content;
    height: fit-content;
    font-family: 'Truetypewriter PolyglOTT';
    font-size: 63px;
    line-height: 91%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 29px;
    gap: 10px;
    background: #7C6365;
    border: 6px solid #FFFFFF;
    border-radius: 13px;
}

.secondBLock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 298px;
}

.sumSVG{
    display: flex;
    width: 270px;
    height: 152px;
    border-radius: 10px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/switch1.svg);

}

.bar{
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.blackBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: fit-content;
}

.lampBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 600px;
    height: 44px;
}

.lamps{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 3px;
    gap: 17px;
    width: 254px;
    height: 33px;
    background: #CDCDCF;
    border-radius: 6px;
}

.lamp{
    width: 20px;
    height: 20px;
    
    border: 2px solid #000000;
    border-radius: 63px;
}

.yellow{
    background: #E0B36F;
}

.brown{
    background: #7C6365;
}

.diagram{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 57px;
    gap: 10px;
    width: 329px;
    height: 142px;
    background: #7C6365;
    border: 4px solid #FFFFFF;
    border-radius: 13px;
}

.miniBlackBar{
    width: 28px;
    height: 142px;
    background: #000000;
}

.bigBlockPlanets{
    display: flex;
    padding: 25px 35px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.blockPlanetsButtons{
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: fit-content;
    height: fit-content;
    padding: 11px;
}

.cosmos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px;
    gap: 10px;
    width: 366px;
    height: 366px;
    border: 3px solid #7C6365;
    border-radius: 13px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 216px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/buttons.svg);
}

.planets{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    gap: 10px;
    width: 340px;
    height: 340px;
    background: #7C6365;
    border: 6px solid #FFFFFF;
    border-radius: 13px;
}

.planetsmall{
    position: absolute;
    width: 147px;
    height: 183px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/smallPlanet.svg);
    z-index: 4;
}

.planetmedium{
    position: absolute;
    width: 275px;
    height: 227px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/middlePlanet.svg);
    z-index: 3;
}

.planetbig{
    position: absolute;
    width: 290px;
    height: 290px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/bigPlanet.svg);
    z-index: 2;
}

.bigBlocklever{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    height: 100%;
}

.baseLever{
    position: relative;
    display: flex;
    width: 317px;
    height: 20px;
    background: #CDCDCF;
    z-index: 2;
}

.leverSvg{
    position: absolute;
    width: 540px;
    height: 382px;
    top: -1250%;
    left: -35%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/lever.svg);
    z-index: 1;
}

.thirdBLock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}