@import url('reset.css');
@import url('font.css');

body{
    width: 98%;
    height: fit-content;
    font-family: 'Phorssa';
    background-color: #593537;
    border: #CDCDCF 1vw solid;
    overflow-x: hidden;
}
main{
    border: 1vw solid #CDCDCF;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: fit-content;
}


.sections{
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.cornerRoundBig{
    transform: translate(-8.5vw, -7.5vw);
    position: absolute;
    width: 15vw;
    height: 15vw;
    border: 1vw solid #CDCDCF;
    border-radius: 523vw;
}

.cornerRoundSmall{
    transform: translate(-7vw, -6vw);
    position: absolute;
    width: 12vw;
    height: 12vw;
    border: 1vw solid #CDCDCF;
    border-radius: 523px;
}

.cornerRoundBig1{
    transform: translate( -8.5vw , 1vw);
    top: 281.5vw;
    position: absolute;
    width: 15vw;
    height: 15vw;
    border: 1vw solid #CDCDCF;
    border-radius: 523vw;
}

.cornerRoundSmall1{
    transform: translate(-50%, 0%);
    top: 284vw;
    position: absolute;
    width: 12vw;
    height: 12vw;
    border: 1vw solid #CDCDCF;
    border-radius: 523px;
}

.cornerRoundBig2{
    left: 100vw;
    transform: translate(-8.5vw, -7.5vw);
    position: absolute;
    width: 15vw;
    height: 15vw;
    border: 1vw solid #CDCDCF;
    border-radius: 523vw;
}

.cornerRoundSmall2{
    left: 100vw;
    transform: translate(-7vw, -6vw);
    position: absolute;
    width: 12vw;
    height: 12vw;
    border: 1vw solid #CDCDCF;
    border-radius: 523px;
}

.cornerRoundBig3{
    left: 100vw;
    transform: translate( -8.5vw , 1vw);
    top: 281.5vw;
    position: absolute;
    width: 15vw;
    height: 15vw;
    border: 1vw solid #CDCDCF;
    border-radius: 523vw;
}

.cornerRoundSmall3{
    left: 100vw;
    transform: translate(-50%, 0%);
    top: 284vw;
    position: absolute;
    width: 12vw;
    height: 12vw;
    border: 1vw solid #CDCDCF;
    border-radius: 523px;
}

.Screen1{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.Screen2{
    width: 95%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 1vw 0px;
    overflow: hidden;
}

.Screen3{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: fit-content ;
}

.Screen4{
    position: relative;
    width: 100%;
    height: 55vw;
}

.diskSVG{
    width: 50vw;
    height: 30vw;
}

.title{
    display: flex;
    width: 100%;
    height: 15vw;
    background: #CDCDCF;
    font-family: 'Adygh';
    font-size: 11vw;
    line-height: 15vw;
    color: #8C2A2D;
    white-space: nowrap;
    letter-spacing: -0.04em;
    align-self: center;
    justify-content: center;
    z-index: 3;
} 

.lettersInRounds{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vw;
    gap: 1vw;
}

.letterinRound{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: 15vw;
}

.stick{
    width: 0.5vw;
    height: 10vw;
    background-color: #7C6365;
    z-index: 1;
}
.round{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    background: #7C6365;
    border-radius: 721vw;
    font-family: 'Truetypewriter PolyglOTT';
    font-size: 8vw;
    line-height: 4vw;
    letter-spacing: -0.03em;
    color: #CDCDCF;
    z-index: 2;
}

.bigScreen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background: #7C6365;
    border: 1vw solid #CDCDCF;
    border-radius: 2vw;
}

.left{
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw;
    width: fit-content;
    height: fit-content;
}

.attention{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    gap: 2vw;
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    border: 0.2vw solid #000000;
    border-radius: 2vw;
}

.attentionIn{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 0.2vw solid #000000;
    border-radius: 1vw;
}

.blockAttention{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1vw;
    gap: 1vw;
    width: fit-content;
    height: fit-content;
    background: #8C2A2D;
    border: 0.1vw solid #000000;
    font-family: 'Truetypewriter PolyglOTT';
    font-size: 7.5vw;
    line-height: 6.5vw;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border-radius: 1vw;
}

.textsvgAttention{
    display: flex;
}

.svgAttention{
    display: flex;
    align-items: center;
    padding: 0.3vw;
    gap: 1vw;
    width: 17vw;
    height: 17vw;
    border: 0.1vw solid #000000;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/warming.svg);
}

.textAttention{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 2vw;
    gap: 10vw;
    width: fit-content;
    height: fit-content;
    border: 0.2vw solid #000000;
    font-family: 'Truetypewriter PolyglOTT';
    font-size: 2vw;
    line-height: 2.6vw;
    color: #000000;
}

.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vw 2vw;
    width: fit-content;
    height: fit-content;
}

.warming{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/warning.svg);
    display: flex;
    width: 20vw;
    height: 32vw;
    border-radius: 1vw;
}

.right{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.signForYellow{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vw 2vw;
    gap: 3vw;
    width: fit-content;
    height: fit-content;
}

.Empty181{
}

.yellowsignvoltSvg{
    display: flex;
    width: 30vw;
    height: 12vw;
    border-radius: 2vw;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/yellow_sign_volt.svg);
}

.yellowsignvoltSvg2{
    display: flex;
    width: 30vw;
    height: 12vw;
    border-radius: 2vw;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/yellow_sign_temp.svg);
}

.righttemp{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.signForPower{
    display: flex;
    padding: 3vw 3vw;
    gap: 1vw;
    width: fit-content;
    height: fit-content;
}

.Powersvg{
    width: 30vw;
    height: 15vw;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/battery.svg);
}

.bottomRight{
    display: flex;
    flex-direction: column;
    padding: 4vw 4vw;
    gap: 1vw;
    width: fit-content;
    height: fit-content;
}

.danger{
    display: flex;
    width: 30vw;
    height: 20vw;
    border-radius: 14px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/danger.svg);
}

.furstBLock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    width: 100%;
    height: fit-content;
}

.furstBlockSmall{
    display: flex;
    align-items: center;
    padding: 1vw 0px;
    gap: 2vw;
    width: fit-content;
    height: fit-content;
}

.lampSVG{
    width: 7vw;
    height: 7vw;
    border-radius: 3vw;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/lamp.svg);
}

.status{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    gap: 1vw;
    width: fit-content;
    height: fit-content;
    border: 0.3vw solid #7C6365;
    border-radius: 1vw;
    align-items: center;
}

.statusText{
    width: fit-content;
    height: fit-content;
    font-family: 'Truetypewriter PolyglOTT';
    font-size: 6vw;
    line-height: 91%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw 3vw;
    gap: 1vw;
    background: #7C6365;
    border: 1vw solid #FFFFFF;
    border-radius: 2vw;
}

.secondBLock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    height: fit-content;
}

.sumSVG{
    display: flex;
    width: 30vw;
    height: 15vw;
    border-radius: 1vw;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/switch1.svg);

}

.bar{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.blackBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    height: fit-content;
}

.lampBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 45vw;
    height: 4vw;
}

.lamps{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw 1vw;
    gap: 2vw;
    width: 25vw;
    height: 3vw;
    background: #CDCDCF;
    border-radius: 1vw;
}

.lamp{
    width: 2vw;
    height: 2vw;
    
    border: 0.2vw solid #000000;
    border-radius: 6vw;
}

.yellow{
    background: #E0B36F;
}

.brown{
    background: #7C6365;
}

.diagram{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 5vw;
    gap: 1vw;
    width: 30vw;
    height: 14vw;
    background: #7C6365;
    border: 0.5vw solid #FFFFFF;
    border-radius: 1vw;
}

.miniBlackBar{
    width: 3vw;
    height: 14vw;
    background: #000000;
}

.bigBlockPlanets{
    display: flex;
    padding: 3vw 4vw;
    gap: 1vw;
    width: fit-content;
    height: fit-content;
}

.blockPlanetsButtons{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    width: fit-content;
    height: fit-content;
    padding: 1vw;
}

.cosmos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    gap: 1vw;
    width: 36vw;
    height: 36vw;
    border: 0.3vw solid #7C6365;
    border-radius: 1vw;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 21vw;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/buttons.svg);
}

.planets{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    gap: 1vw;
    width: 34vw;
    height: 34vw;
    background: #7C6365;
    border: 1vw solid #FFFFFF;
    border-radius: 1vw;
}

.planetsmall{
    position: absolute;
    width: 14vw;
    height: 18vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/smallPlanet.svg);
    z-index: 4;
}

.planetmedium{
    position: absolute;
    width: 27vw;
    height: 24vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/middlePlanet.svg);
    z-index: 3;
}

.planetbig{
    position: absolute;
    width: 29vw;
    height: 29vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/bigPlanet.svg);
    z-index: 2;
}

.bigBlocklever{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    height: 100%;
}

.baseLever{
    position: relative;
    display: flex;
    width: 30vw;
    height: 6vw;
    background: #CDCDCF;
    z-index: 2;
}

.leverSvg{
    position: absolute;
    width: 52vw;
    height: 38vw;
    top: -400%;
    left: -35%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/lever.svg);
    z-index: 1;
}

.thirdBLock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: fit-content;
}

.Gears{
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 4vw;
    width: fit-content;
    height: fit-content;
}

.Gear1{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/gear_medium.svg);
    width: 14vw;
    height: 25vw;
}

.Gear2{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/gear_small.svg);
    width: 8vw;
    height: 12vw;

}

.Gear3{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/gear_big.svg);
    width: 15vw;
    height: 25vw;
}

.pipes{
    top: 100%;
    transform: scaleX(108%) translateY(-95%) translateX(2%);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/pipes.svg);
    width: 100%;
    height: 50vw;
}

.joins{
    top: 98%;
    transform: scaleX(108%) translateY(-92.5%) translateX(1.9%);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/joins.svg);
    width: 100%;
    height: 50vw;
}